:root {
    --lab-text: #6F666A;
    --lab-link: #8368e0;
    --lab-link-hover: #C5A5F4;
    --lab-border: #BFE0DB;
    --lab-darker: #A1C7C2;
    --lab-lighter: #F0FEF7;
    --lab-bg: #FBFFF7;
    --lab-bg-head: url(https://nsm09.casimages.com/img/2020/07/13//20071309234125394216918409.png);
    --lab-square: url(https://nsm09.casimages.com/img/2020/07/13//20071309234025394216918408.png);
    --lab-img-detail: url(https://nsm09.casimages.com/img/2020/07/13//20071309234025394216918406.png);
    --lab-gradient-detail: url(https://nsm09.casimages.com/img/2020/07/13//20071309234025394216918407.png);
    --lab-file: url(https://nsm09.casimages.com/img/2020/07/13//20071309234025394216918405.png);
    --lab-heart1: url(https://nsm09.casimages.com/img/2020/07/13//20071309234125394216918410.png);
    --lab-heart2: url(https://nsm09.casimages.com/img/2020/07/13//20071309234125394216918411.png)
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
